@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/utilities" layer(utilities);

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }
}